<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.11.0" targetFramework="net20" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net452" />
  <package id="Resource.Embedder" version="1.2.5" targetFramework="net40" developmentDependency="true" />
</packages>